@import 'tailwindcss';

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0 0);

  --color-background-dark: oklch(4% 0 0);
  --color-foreground-dark: oklch(93% 0 0);
}

@layer base {
  :root {
    --background: var(--color-background);
    --foreground: var(--color-foreground);
  }

  .dark {
    --background: var(--color-background-dark);
    --foreground: var(--color-foreground-dark);
  }

  * {
    border-color: hsl(var(--foreground) / 0.15);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
